.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid slateGrey;
  border-radius: 10px;
  padding: 1rem;
}

.form label {
  display: flex;
  gap: 1rem;
}

.form label input {
  margin-left: auto;
  height: 1.5rem;
}

.form small {
  text-align: right;
  color: red;
}

.form p {
  text-align: center;
  color: red;
}

.form h2 {
  text-align: center;
  margin: 0.5rem 0;
}
