#root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1200px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

button {
  height: 2rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px dotted black;
}
button:hover {
  background-color: lightsteelblue;
  color: white;
  border-style: solid;
  cursor: pointer;
}
